body {
	margin-top: 50px;
}

.modal {
    display: block;
}

.yeti .tags .tag-item {
    border-radius: 0;
    background: #008cba;
    border: 1px solid #0079a1;
    color: #ffffff;
}

.panel-login {
    max-width: 400px;
    margin: 40px auto;
}

.navbar-form .form-control {
    display: inline-block;
    width: auto !important; /*This is the issue*/
    vertical-align: middle;
}